.faq__pos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-weight: 700;
  font-size: 24px;
  color: #1C1A1A;
  padding: 30px 70px;
}

.faq__pos:not(:last-child){
  margin-bottom: 20px;
}

.faq__pos_color  {
  background-color: #440f51;
  color: #ffffff;
}

.faq__img {
  width: 46px;
  height: 46px;
}

.faq__img_purple {
  background-image: url("./openPurple.svg");
}

.faq__img_white {
  background-image: url("./openWhite.svg");
}

.faq__img_purple:hover{
  background-image: url("./openHoverPurple.svg");
  transition: background-image 0.3s;
}

.faq__img_purple:active {
  background-image: url("./closeActivePurple.svg");
  animation: anim-opacity 0.3s linear;
}

.faq__img_white:hover {
  background-image: url("./openHoverWhite.svg");
  transition: background-image 0.3s;
}

.faq__img_white:active {
  background-image: url("./openActiveWhite.svg");
  animation: anim-opacity 0.3s linear;
}