.faq__pos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-weight: 700;
  font-size: 24px;
  color: #1C1A1A;
  padding: 30px 70px;
}

.faq__pos:not(:last-child){
  margin-bottom: 20px;
}

.faq__pos_color  {
  background-color: #440f51;
  color: #ffffff;
}


