.booking {
  background-color: #440f51;
  padding-top: 80px;
  padding-bottom: 130px;
  margin-bottom: 50px;
}

.form__fieldset {
  padding: 0;  
  border: none;
}

.booking__fieldset {
  margin-bottom: 60px;
}

.form__title {    
    margin: 0 auto;
    margin-bottom: 40px;
}

.form__subtitle {
  margin-bottom: 23px
}

/* -------- выбери зал ------------ */
.choice-room__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}

.choice-room__item {
  text-align: center;
}

.choice-room__label {
  display: block; 
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  padding: 7px 0;
  min-width: 240px; 
  text-transform: uppercase;
}

.choice-room__input {
  appearance: none;    /*скрыла  radio */   
}

.choice-room__label:hover {
  background-color: #eadeed;
  border: 1px solid #640aa3;
}


.choice-room__label:focus-within {
  background-color: #ffffff;
  border: 1px solid #640aa3;
}

.choice-room__label:active {
  background-color: #6c0287;
  border: 1px solid #ffffff;
  color: #ffffff;
}


/* -------- собери набор развлечений ------------ */

.form__3column {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  flex-wrap: wrap;
}

.game__item:not(:last-child) {
  margin-bottom: 20px;
}

.game__label{
  position: relative;
}

.game__input {
  padding-left: 40px;
  appearance: none;
}

/* ------ стилизация radio и checkbox--------- */
.game__input[type="radio"]:before, 
.game__input[type="checkbox"]:before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing:content-box;
  }

.game__input[type="radio"]:before{
  background-image: url("./Ellipse4.svg");
}

.game__input[type="checkbox"]:before{
  background-image: url("./Rectangle38.svg");
}

.game__input[type="checkbox"]:focus-within:before {
  border: 1px solid #cd06ff;
}

.game__input[type="radio"]:focus-within:before {
  border-radius: 0%;
  border: 1px solid #cd06ff;
}

/* ------ стилизация чекнутых radio и checkbox--------- */

.game__input[type="radio"]:after,
.game__input[type="checkbox"]:after {
  position: absolute;
  left: 9px;
  top: 50%;
  content: "";
  display: block;
  opacity: 0;  
} 

.game__input[type="radio"]:after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6c0287;
  transform: translateY(-50%);
}

.game__input[type="checkbox"]:after {
  width: 15px;
  height: 15px;
  border-bottom: 4px solid #6c0287;
  border-right: 4px solid #6c0287;
  left: 0;
  top: -20%;
  transform: translateX(50%);
  opacity: 0;
  rotate: 45deg;
}

.game__input:checked:after{
  opacity: 1;
}

/* ----------- выбери дату и время ----------- */
.choice {
  gap: 50px;
  align-items: flex-end;
}

.choice__item{
  flex: 1 1 auto;
}

.choice__item:first-child,
.choice__item:last-child {
  width: 24%;
}

/* ------------ первая колонка (дата и время)------------ */
.date-time {
  display: flex; 
  justify-content: space-between; 
  margin-bottom: 36px;
}

.date-time__item {
  width: 46%;
  position: relative;
}

.date-time__input {
  width: 100%; 
}

.date-time__input, 
.number__input {
  min-height: 52px;
}

.date-time__input,
.number__input,
.person__input {
  outline: none;
}

.number {
  position: relative;
}

.number__input {
  width: 100%;
}

.date-time__label:before,
.number__label:before {  
  color: #000000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 20px;
}

.date-time__label_date:before {
  content: "Дата";
}

.date-time__label_time:before {
  content: "Время";
}

.number__label:before {
  content: "Сколько человек";
}

.date-time__label:after, 
.number__label:after {
  content: "\25BC";
  color: #000000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.date-time__label:after {
  left: 75%;  
}

.number__label:after{
  left: 89%;
}

/* ----------- убираю браузерные стили---------- */
/* --- пиктограмма календаря ---*/
.date-time__input::-webkit-calendar-picker-indicator {
  background-image: none;
  }

  /* --- стрелочки number в Firefox ---*/
.number__input {
    -moz-appearance: textfield;
}
/* --- стрелочки number в Chrome ---*/
.number__input::-webkit-outer-spin-button,
.number__input::-webkit-inner-spin-button {
  appearance: none;
}

.date-time__input {
  color: transparent;
}

.date-time__input:focus,
.number__input:focus {
  border: 1px solid #cd06ff; 
}

/* ---------- 2 и 3 колонки (ФИО и контактные данные)----------  */
.person {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.choice__person {
  margin-bottom: 14px;
}

.person__label {
  display: block;
}

.person__input {
  min-height: 52px;
}

.person__input:focus {
  border: 1px solid #cd06ff; 
}


.booking__button {
  display: block;
  border: none;
  min-width: 300px;
  color: #6c0287;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 15px 50px;
  border-radius: 10px;
  margin-right:100px;
  margin-left: auto;
  border: 1px solid #ffffff;
}

.booking__button:hover {
  background-color: #eadeed;
  border: 1px solid #6c0287;
}

.booking__button:focus {
  background-color: #ffffff;
  border: 1px solid #6c0287;
  outline: none;
}

.booking__button:active {
  background-color:#eadeed;
  border: 1px solid #eadeed;
  outline: none;
}

