.page {
    padding-top: 30px;
}

.page__header {
    margin-bottom: 50px;
}
.page__section {
    margin-bottom: 100px;
}


@media(max-width:1250px) {
    .page__header {
        margin-bottom: 30px;
    }
    .page__section {
        margin-bottom: 70px;
    }
}

@media(max-width:860px) {
    .page {
        padding-top: 32px;
    }
    .page__section {
        margin-bottom: 60px;
    }
}

@media(max-width:480px) {
    .page {
        padding-top: 20px;
    }
    .page__section {
        margin-bottom: 30px;
    }
}