.page {
    padding-top: 30px;
}

.page__header {
    margin-bottom: 43px;
}
/* .page__section {
    margin-bottom: 100px;
} */


@media(max-width:1250px) {
    .page__header {
        margin-bottom: 33px;
    }
    .page__section {
        margin-bottom: 83px;
    }
}

@media(max-width:860px) {
    .page {
        padding-top: 32px;
    }
    .page__header {
        margin-bottom: 3px;
    }
    .page__section {
        margin-bottom: 60px;
    }
}

@media(max-width:480px) {
    .page {
        padding-top: 20px;
    }
    .page__section {
        margin-bottom: 30px;
    }
}