.overlay-burger-1 {
  /* display: none; */
  /* display: block; */
  position: absolute;
  height: 100%;
  width: 100%;
  /* left: -100%; */
  background-color: var(--overlay-color);
  z-index: 20;
  margin: 0 auto;
  border: 1px solid red;
}

.burger {  
  position: relative;
  top: 0;
  z-index: 10;
  width: 100%;
  text-transform: uppercase;
  background-color: var(--bg-color);
  padding: 58px 0;    
}
/* .nav__list.nav__list_burger { 
  flex-direction: column;  
  align-items: center;    
} */

.burger__btn {
  display: none;
}
