.faq__container {
  margin-bottom: 100px;
}

.faq__title {
  margin-bottom: 43px;
}

.faq-item__header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  background-color: var(--main-color-text, #ffffff);  
  font-weight: 700;
  font-size: 24px;
  color: #1C1A1A;
  padding: 21px 70px;  
}

.faq-item__content {
  display: none;
  background-color: var(--light-color-text);
  color: #000000;
  font-size: 24px;
  padding: 21px 70px 100px;
}

.faq-item__content_active {
  display: block;
}

.faq-item:not(:last-child){
  margin-bottom: 20px;
}

.faq-item__header_color  {
  background-color: #440f51;
  background-color: var(--firm-color, #440f51);
  color: var(--main-color-text, #ffffff);
}

.faq-item__img {
  width: 46px;
  height: 46px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.faq-item__img_color {
  background-image: url("../assets/faq/openPurple.svg");
}

.faq-item__img_white {
  background-image: url("../assets/faq/openWhite.svg");
}

.faq-item__img_color:hover{
  background-image: url("../assets/faq/openHoverPurple.svg");
  transition: background-image 0.3s;
}

.faq-item__img_color:active {
  background-image: url("../assets/faq/closeActivePurple.svg");
  animation: anim-opacity 0.3s linear;
}

.faq-item__img_white:hover {
  background-image: url("../assets/faq/openHoverWhite.svg");
  transition: background-image 0.3s;
}

.faq-item__img_white:active {
  background-image: url("../assets/faq/openActiveWhite.svg");
  animation: anim-opacity 0.3s linear;
}

@media(max-width:1250px) {
  .faq__container {
    margin-bottom: 70px;
  }
  .faq__title {
    margin-bottom: 30px;
  }
  .faq-item__header {    
    font-size: 20px;
    padding: 12px 20px 12px 30px;    
  }    
  .faq-item__content {
    font-size: 20px;    
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
  }
  .faq__item:not(:last-child){
    margin-bottom: 16px;
  }
  /* .faq__pos_color  {
    background-color: #ffffff;
    background-color: var(--light-color-text);
    color: #1C1A1A;
  }   */
  /* .faq__pos_none {
    display: none;
  } */
  /* .faq__img_white {
    background-image: url("../assets/faq/openPurple.svg");
  }
  .faq__img_white:hover {
    background-image: url("../assets/faq/openHoverPurple.svg");    
  }
  .faq__img_white:active {
    background-image: url("../assets/faq/closeActivePurple.svg");    
  } */
}

@media(max-width:860px) {
  .faq__container {
    margin-bottom: 72px;
  }
  .faq-item__header {    
    font-size: 18px;
    padding-left: 54px;
    padding-right: 65px;    
  }    
  .faq-item__content {
    font-size: 16px;    
    padding-left: 54px;
    padding-right: 65px;
    padding-bottom: 40px;
  }
}

@media(max-width:650px) {
  .faq-item__header {        
    padding: 7px 13px 7px 10px;  
  }    
  .faq-item__content {
    padding: 7px 13px 7px 10px;  
    padding-bottom: 30px;
  }
  .faq-item__img {
    width: 35px;
    height: 35px;
  }
}

@media(max-width:480px) {
  .faq__container {
    margin-bottom: 33px;
  }
  .faq__title {
    margin-bottom: 16px;
  }
  .faq-item__header {        
    font-size: 12px;
  }    
  .faq-item__content {
    font-size: 10px;
  }
  .faq-item__img {
    width: 30px;
    height: 30px;
  }
  .faq-item:not(:last-child){
    margin-bottom: 12px;
  }
}
