.room__container {
  margin-bottom: 100px;
}

.room-section__title {
  margin-bottom: 47px;
}

.room__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 349px);
  gap: 20px;
}

.room__link {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.room__link_vibes {
  background-image: url("../assets/room/80-sVibes.jpg");
}
.room__link_star {
  background-image: url("../assets/room/starWars.jpg");
}
.room__link_west {
  background-image: url("../assets/room/wildWest.jpg");
}
.room__link_neon {
  background-image: url("../assets/room/neon.jpg");
}

.room__title {
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;        
}

@media(max-width:1250px) {
  .room__container {
    margin-bottom: 73px;
  }
  .room-section__title {
    margin-bottom: 42px;
  }
  .room__title {
      font-size: 50px;
  }
  .room__list {
      grid-template-rows: repeat(2, 265px);
  }
}

@media(max-width:860px) {
  .room__container {
    margin-bottom: 63px;
  }
  .room__title {
      font-size: 40px;
  }
  .room__list {
      grid-template-rows: repeat(2, 200px);
  }
}

@media(max-width:480px) {
  .room__container {
    margin-bottom: 30px;
  }
  .room-section__title {
    margin-bottom: 15px;
  }
  .room__title {
      font-size: 26px;
  }
  .room__list {
      grid-template-columns: 1fr;
      grid-template-rows: 168px;
      grid-auto-rows: 168px;
      gap: 10px;
  }
}