.room__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.room__item {
    flex-basis: 580px;
    background-repeat: no-repeat;
    padding: 94px 0;
}

.room__item_vibes {
    background-image: url("./80-sVibes.jpg");
}
.room__item_star {
    background-image: url("./starWars.jpg");
}
.room__item_west {
    background-image: url("./wildWest.jpg");
}
.room__item_neon {
    background-image: url("./neon.jpg");
}

.room__title {
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
}
