.footer {
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 156px;
}

.address {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 35px;
}

.address__geo {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 40px;
}

.address__geo:before {
    content: url("./location.svg");
    width: 32px;
    height: 32px;
}

.address__phone {
    display: flex;
    margin-bottom: 14px;
}

.address__phone:before {
    content: url("./phone-call.svg");
    margin-right: 28px;
}

.address__mail {
    display: flex;
}

.address__mail:before {
    content: url("./mail.svg");
    margin-right: 28px;
}

.social {
    display: flex;
    gap: 26px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 20px;
}

.copyright__contacts {
    text-align: right;
}



.social__link{
    display: flex;
    align-items: center;
    border: 1px solid #370A37;
}

.social__link:hover {
    color: #eadeed;
}

.social__link:focus {
    color: #eadeed;
    border: 1px solid #cd06ff;
    outline: none;;
}

.social__link:active {
    color: #cd06ff;
    border: 1px solid #370A37;
}


