.all__title {
  line-height: 50px;
  margin-bottom: 41px;
}

.all__title-span {
  display: block;
}

.all__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}

.all__item {
  width: 380px;
  line-height: 28px;  
  padding-top: 166px;
  padding-left: 40px;
  padding-bottom: 6px;
}

.all__item_VR {
  background-image: url("./Rectangle29.jpg");
}

.all__item_audio {
  background-image: url("./Rectangle30.jpg");
}

.all__item_karaoke {
  background-image: url("./Rectangle31.jpg");
}

.all__item_games {
  background-image: url("./Rectangle32.jpg");
}

.all__item_cinema {
  background-image: url("./Rectangle33.jpg");
}

.all__item_plays {
  background-image: url("./Rectangle34.jpg");
}