.about__box {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.content__text {
  line-height: 28px;   
  margin-bottom: 48px;
}

.content__text>p:first-of-type {
margin-bottom: 35px;
}

.blockquote__title {
  font-weight: 400;
  font-size: 44px;
  margin-bottom: 40px;
}

.blockquote__title:before,
.blockquote__quote-closed:after {
  font-weight: 900;
  font-size: 44px;
  color: #6c0287;
}

.blockquote__title:before{
  content: '“';
}

.blockquote__quote-closed:after{
  content: '”';
}

.cite {
  display: flex;
  padding-left: 15%;
}

.cite__img {
  margin-right: 30px;
  border-radius: 100%;
  align-self: center;
}

.cite__content {
  font-style: normal;  
  line-height: 28px;
}

.cite__author {
  display: block;
}
