.footer__title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.address {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.address__list {
    margin-bottom: 40px;
}

.address__geo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.address__svg {
    margin-right: 30px;
    vertical-align: middle;
}

.social__item {
    display: inline;
}

.social__item:not(:last-child) {
    padding-right: 26px;
}
