.rooms {
    display: flow-root;
}

.room {
    max-width: 580px;
    position: relative;
}

.room__img {
    width: 100%;
}

.room:nth-child(odd) {
    float: right;
}

 .room:nth-child(even) {
    float: left;
}

.room:nth-child(2), .room:nth-child(3) {
    margin-bottom: 20px;
}

.room__title {
    font-weight: 700;
    font-size: 70px;
    position: absolute;
    top: 135px;
    left: 103px;
}
