.header {
  font-size: 22px;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.header__btn {
  border: 3px solid #cd06ff;
  border-radius: 10px;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  text-transform: uppercase;
  padding: 12px 32px;
  outline: none;
}

.header__btn:hover, 
.header__btn:focus {
  background-color: #6c0287;
  border: 3px solid #6c0287;
  transition: background-color 0.2s, border 0.2s;
}

.header__btn:active {
  background-color: #640aa3;
  border: 3px solid #640aa3;
  transition: background-color 0.2s, border 0.2s;
}

